body,html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

@font-face {
    font-family: "big_shoulders";
    src: url("fonts/Big_Shoulders/BigShoulders-VariableFont_opsz,wght.ttf");
}

/* design system:) */
:root {
    --green: rgb(117, 191, 92);
    --light-brown: #806247b9;
    --light-brown-opaque: #a17a58;
    --light-grey: #c4c2bf;
    --brown: #332925;
    --transparent-grey: #5b575164;
    --opaque-grey: #716c64;
    --almost-black: rgb(23, 22, 22);
    --gradient-yellow-blue: linear-gradient(45deg, #000b2133, #003f8233, #4ca2b533, #ffd27f33);
    --main-font: "big_shoulders", Impact, Haettenschweiler, 'Arial Narrow Bold';
    --page-animation: fade-from-black 1s ease-out;
}

/* TOP NAV */
/* Top nav styles are shared across all pages*/
.top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 10vw;
    background-color: var(--almost-black);
}

.top-navigation__menu-item {
    font-family: var(--main-font);
    color: var(--light-brown);
    font-size: 2rem;
    margin: 0;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: 220;
}

.top-navigation__menu-item:hover {
    color: var(--light-brown-opaque);
}

.linkedin {
    max-height: 10vw;
}

.linkedin:hover {
    box-shadow: 0px 0px 10px rgb(215, 130, 102);
    border-radius: 10px;
}

#main_selected, #about_selected, #work_selected {
    color: var(--light-brown-opaque);
}

/* Main page*/

/* Main page background */
.main-page {
    background:
        var(--gradient-yellow-blue),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
        url("images/DSCF5990.jpg"),
        black;
    background-size: auto, auto, cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    animation: var(--page-animation);
}

.main-page__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-page__container__left-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.main-page__container__right-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.main-page__title {
    color: var(--green);
    font-family: var(--main-font);
    text-shadow: black 1px 1px 10px;
    font-weight: 210;
    font-size: clamp(4rem, 3rem, 10rem);
    padding: 0 2vw;
    margin: 0;
}

.main-page__subtitle {
    color: var(--light-grey);
    font-family: var(--main-font);
    text-shadow: black 1px 0 10px;
    font-weight: 210;
    font-size: 2rem;
    padding: 0 2vw;
    margin: 0;
}
 

.main-page__paragraph, 
.mobile_main-page__paragraph {
    background-color: rgba(47, 49, 46, 0.62);
    font-size: 0.8rem;
    border-radius: 10px;
    color: var(--light-grey);
    font-family: var(--main-font);
    font-weight: 200;
}

.main-page__hej {
    position: absolute;
    top: 5vw;
    right: 6vw;
    height: 50vw;
    z-index: -1;
    animation: spin 10s linear infinite;
}

/* Main page*/


/* desktop */
@media (min-width: 400px) {
    .main-page__paragraph {
        width: 70%;
        margin: 1vw 2vw;
        padding: 0.7vw;
    }
    .mobile_main-page__paragraph {
        display: none;
    }
    .main-page__my-photo {
        min-width: 150px;
        /* width: clamp(10%, 30vw, 900px); */
        width: clamp(20%, 70%, 72%);
        }
}

/* mobile */
@media (max-width: 400px) {
    .main-page__paragraph {
        display: none;
    }

    .mobile_main-page__paragraph {
        width: 98%;
        margin: 0;
        height: 100vw;
        padding-left: 1.9vw;
        padding-top: 1vw;
    }

    .main-page__my-photo {
        min-width: 150px;
        /* width: clamp(10%, 30vw, 900px); */
        width: clamp(20%, 70%, 400px);
    }

}


@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


footer {
    margin: 0;
    height: 2vw;
    position: fixed;
    bottom: 0;
    right: 100;
    padding-left: 1vw;
    font-size: 0.2em;
    background-color: var(--almost-black);
    width: 100%;
    color: rgb(159, 153, 153);

    a {
        color: rgb(159, 153, 153);
    }
}

.work-page {
    background-color: var(--almost-black);
}

/* accessibility */

 @media (prefers-reduced-motion: reduce) 
    { 
        .main-page { animation: none; } 
        .art-page { animation: none; } 
        .work-page { animation: none; }
        .about-page { animation: none; } 
    }   


.fit-content {
    width: 300px;
}