body,html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

@font-face {
    font-family: "big_shoulders";
    src: url("/fonts/Big_Shoulders/BigShoulders-VariableFont_opsz,wght.ttf");
}

/* design system:) */
:root {
    --pink: #e2a9f1;
    --light-brown: #8062478f;
    --light-brown-opaque: #806247;
    --light-grey: #c4c2bf;
    --brown: #332925;
    --transparent-grey: #716c6499;
    --opaque-grey: #716c64;
    --almost-black: rgb(23, 22, 22);
    --gradient-yellow-blue: linear-gradient(45deg, #000b2133, #003f8233, #4ca2b533, #ffd27f33);
    --main-font: "big_shoulders", Impact, Haettenschweiler, 'Arial Narrow Bold';
}

/* TOP NAV */
/* Top nav styles are shared across all pages*/
.top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 10vw;
    background-color: var(--almost-black);
    width: viewport;
}

.top-navigation__menu-item {
    font-family: var(--main-font);
    color: var(--light-brown);
    font-size: 2rem;
    margin: 0;
    padding: 1vw 1vw;
    text-decoration: none;
    font-weight: 220;
}

.top-navigation__menu-item:hover {
    color: var(--light-brown-opaque);
}

#main_selected, #about_selected, #work_selected {
    color: var(--light-brown-opaque);
}

/* Main page*/

/* Main page background */
.main-page {
    background:
        var(--gradient-yellow-blue),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
        url("/images/DSCF5990.JPG"),
        black;
    background-size: auto, auto, cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.main-div {
    width: 100%;
}

.main-page__title {
    color: var(--pink);
    font-family: var(--main-font);
    text-shadow: black 1px 2px 7px;
    font-weight: 210;
    font-size: clamp(4rem, 5rem, 8rem);
    margin: 0;
    padding: 0 3vw;
}

@keyframes myAnimation {
  0%   {color:var(--pink); left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
}

.main-page__title:hover {
    animation-name: myAnimation;
    animation-duration: 2s;
}

.main-page__subtitle {
    color: var(--light-grey);
    font-family: var(--main-font);
    text-shadow: black 1px 0 10px;
    font-weight: 210;
    font-size: 2rem;
    margin: 0;
    padding: 0 3vw;
}

/* Main page*/


/* About page*/
.about-page {
    background: 
        linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
        url("/images/DSCF6088.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


/* About page*/ 

.my-photo-and-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#my-photo-and-description__photo {
  max-width: 40%;
  min-width: 150px;
  height: auto;
}

#my-photo-and-description__text {
    background-color: var(--transparent-grey);
    font-size: 1rem;
    color: var(--light-grey);
    border-radius: 50px 50px 50px 0;
    padding: 5vw;
    font-family: var(--main-font);
    font-weight: 200;
    height: 100%;
    width: clamp (5vw 30vw 50%);
    margin-left: clamp (5vw 20vw 15vw);
    min-width: 150px;
}

/*Work page */

.work-page {
    background: black;
    margin: 0;
    padding: 0;
}

/* mobile photo gallery */
@media (max-width:450px) {
    .photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 0vw;
    margin: 1vw;
    }

    .photo-grid_photo {
    max-width: 100vw;
    min-width: 10vw;

    }
    /* the long images don't look good on mobile, so I will hide it */
    .span-2-rows {
        display: none;
    }

}

/* desktop photo gallery */
@media (min-width:450px) {
    .photo-grid {
        padding-top: 5vw;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        gap: 3vw;
    }
    .photo-grid_photo {
        width: clamp(200px, 31.9vw, 30vw);
        border-radius: 20px;
    }

    .photo-grid_photo:hover {
        transform: scale(1.05, 1.05);
        transition: transform 1s;
    }
    .span-2-rows {
        grid-row: span 2;
    }

    .span-2-columns {
        grid-column: span 2;
        width: 100%;
    }
}


/*Work page */