body,html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* design system:) */
:root {
    --pink: #e2a9f1;
    --light-brown: #806247;
    --light-grey: #c4c2bf;
    --brown: #332925;
    --transparent-grey: #716c64;
    --opaque-grey: #716c64;
    --gradient-yellow-blue: linear-gradient(45deg, #000b2133, #003f8233, #4ca2b533, #ffd27f33);}


/* Main page background */
.main-page {
    background:
        linear-gradient(45deg, #000b2155, #003f8255, #4ca2b555, #ecad3855),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/images/DSCF5990.JPG"),
        black;
        background-size: auto, auto, cover;
        background-position: center;
    margin: 0;
    padding: 0;
}

.top-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    p {
        margin: 0;
        padding: 0;
    }
}